/** TABLE OF CONTENTS 
-----------------------
-- REMINDER: abstract/variables.scss needs to be brought into components that require it! 

-- vendor imports
-- base imports
-- component imports
-- layout imports
-- page imports
**/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.theme-1 .light .primary {
  color: #eab308;
}
.theme-1 .light .secondary {
  color: #eab308;
}
.theme-1 .light .brand {
  color: #eab308;
}
.theme-1 .light .brandSkew {
  color: #eab308;
}
.theme-1 .light .brandDark {
  color: #eab308;
}
.theme-1 .light .brandLight {
  color: #eab308;
}
.theme-1 .dark .primary {
  color: #6366f1;
}
.theme-1 .dark .secondary {
  color: #6366f1;
}
.theme-1 .dark .brand {
  color: #6366f1;
}
.theme-1 .dark .brandSkew {
  color: #6366f1;
}
.theme-1 .dark .brandDark {
  color: #6366f1;
}
.theme-1 .dark .brandLight {
  color: #6366f1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", apple-system, sans-serif;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appContent {
  margin: 1rem auto;
  flex: 1;
}

.light {
  background-color: #ffffff;
  color: #ffffff;
}

.dark {
  background-color: #ffffff;
  color: #ffffff;
}

.customGrid {
  display: grid;
  margin: auto;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  max-width: 800px;
}

/*
=========================
debug
=========================
@debug math.div(5, 2);
=========================
*/