@use '../abstracts/' as *;

.app {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.appContent {
  flex: 1;
}

.light {
  background-color: $white;
  color: $black;
}

.dark {
  background-color: $black;
  color: $white;
}