@use "sass:math";
// TYPOGRAPHY
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
$primaryFont: "Open Sans", apple-system, sans-serif;

// COLORS (https://tailwindcss.com/docs/customizing-colors)
$primaryColor: #ffffff;
$secondaryColor: #111827;
$successColor: #16a34a;
$errorColor: #dc2626;
$warning: #f59e0b;
$info: #3b82f6;
$blue: #60a5fa;
$red: #ef4444;
$yellow: #f59e0b;
$green: #16a34a;
$purple: #a855f7;
$orange: #f97316;
$pink: #ec4899;
$grey: #f3f4f6;
$black: #111827;
$white: #ffffff;

$colors: (
  "primary": $primaryColor,
  "secondary": $secondaryColor,
  "success": $successColor,
  "error": $errorColor,
  "warning": $warning,
  "info": $info,
  "blue": $blue,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "purple": $purple,
  "orange": $orange,
  "pink": $pink,
  "grey": $grey,
  "black": $black,
  "white": $white,
);

// THEME COLORS
$lightMode: #eab308;
$darkMode: #6366f1;

$themes: (
  theme-1: (
    light: (
      "primary": $lightMode,
      "secondary": $lightMode,
      "brand": $lightMode,
      "brandSkew": $lightMode,
    ),
    dark: (
      "primary": $darkMode,
      "secondary": $darkMode,
      "brand": $darkMode,
      "brandSkew": $darkMode,
    ),
  ),
);

// need to do this to get access to the map in another map

// map-get($themes, theme-1) theme-1 being the first nested map; dark being the key of a further nested map to get from theme-1 in themes
@debug map-get(map-get($themes, theme-1), dark);

// map-get($themes, theme-1) theme-1 being the first nested map; light being the key of a further nested map in theme-1 to remove; returns a new map and leaves the original unaltered
$test: map-remove(map-get($themes, theme-1), light);
@debug "removed:: ", map-get(map-get($themes, theme-1), light);
@debug $test;

//map-merge
@debug map-merge(
  map-get($themes, theme-1),
  (
    test: (
      "a": "d",
      "b": "d",
      "c": "d",
    ),
  )
);

// loop over inner maps; nested @each for nested maps
@each $theme-name, $theme-modes in $themes {
  .#{$theme-name} {
    @each $mode-name, $mode-colors in $theme-modes {
      @debug $mode-name;
      .#{$mode-name} {
        @each $color-name, $color-value in $mode-colors {
          // get bool
          @debug map-has-key($map: $mode-colors, $key: $color-name);

          // Generate CSS or debug statements as needed
          .#{$color-name} {
            color: $color-value;
          }
        }
      }
    }
  }
}

@each $key, $value in $colors {
  .text-#{$key} {
    color: $value;
  }
  .bg-#{$key} {
    background-color: $value;
  }

  .text-#{$key}-hover {
    &:hover {
      color: $value;
    }
  }

  .bg-#{$key}-hover {
    &:hover {
      background-color: $value;
    }
  }
}

@each $key, $value in $colors {
  @if (
    $value != white and $value != black and $key != "white" and $key != "black"
  ) {
    @for $i from 1 through 9 {
      .text-light-#{$key}-#{$i} {
        color: mix(white, $value, $i * 10%);
      }

      .bg-light-#{$key}-#{$i} {
        background-color: mix(white, $value, $i * 10%);
      }

      .text-light-#{$key}-#{$i}-hover {
        &:hover {
          color: mix(white, $value, $i * 10%);
        }
      }

      .bg-light-#{$key}-#{$i}-hover {
        &:hover {
          background-color: mix(white, $value, $i * 10%);
        }
      }

      .text-dark-#{$key}-#{$i} {
        color: mix(black, $value, $i * 10%);
      }

      .bg-dark-#{$key}-#{$i} {
        background-color: mix(black, $value, $i * 10%);
      }

      .text-dark-#{$key}-#{$i}-hover {
        &:hover {
          color: mix(black, $value, $i * 10%);
        }
      }

      .bg-dark-#{$key}-#{$i}-hover {
        &:hover {
          background-color: mix(black, $value, $i * 10%);
        }
      }
    }
  }
}

// MIXIN: Set text color dynamically
@mixin setBackground($color) {
  background-color: $color;
  color: set-text-color($color);
}

.test {
  @include setBackground($primaryColor);
}

// FUNCTIONS
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $complementaryColor;
  } @else {
    @return $primaryColor;
  }
}

// BS-UTILITIES: Spacer
$spacer: 2rem;
