@use "sass:math";
@use "./mixins" as *;
// TYPOGRAPHY
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$primaryFont: "Open Sans", apple-system, sans-serif;

$primary: #ffffff;
$secondary: #111827;
$success: #16a34a;
$error: #dc2626;
$warning: #f59e0b;
$info: #3b82f6;
$blue: #60a5fa;
$red: #ef4444;
$yellow: #f59e0b;
$green: #16a34a;
$purple: #a855f7;
$orange: #f97316;
$pink: #ec4899;
$grey: #868688;
$black: #111827;
$white: #ffffff;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "error": $error,
  "warning": $warning,
  "info": $info,
  "blue": $blue,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "purple": $purple,
  "orange": $orange,
  "pink": $pink,
  "grey": $grey,
  "black": $black,
  "white": $white,
);

// THEME COLORS
$lightMode: #eab308;
$darkMode: #6366f1;

$themes: (
  theme-1: (
    light: (
      "primary": $lightMode,
      "secondary": $lightMode,
      "brand": $lightMode,
      "brandSkew": $lightMode,
    ),
    dark: (
      "primary": $darkMode,
      "secondary": $darkMode,
      "brand": $darkMode,
      "brandSkew": $darkMode,
    ),
  ),
);

// no "":"" means its a list; can also be in []
$util: (
  "p",
  "m",
);

$sides:(
  "t",
  "r",
  "b",
  "l",
);


// BS-UTILITIES: Spacer
$spacer: 2rem;
